<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Colour Palette Generator</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-3">
        <div class="container py-5">
            <!-- For demo purpose -->
            <header class="text-white text-center">
                <h1 class="display-4"><a href="/" style="text-decoration: none; color: white;">Image Colour Palette Generator</a></h1>
                <p class="lead mb-0">Choose Your Image and See Colour Palette</p>
                <br><br>
                <img src="https://bootstrapious.com/i/snippets/sn-img-upload/image.svg" alt="" width="150" class="mb-4">
            </header>
            <div class="row py-4">
                <div class="col-lg-6 mx-auto">
                    <!-- Upload image input-->
                    <form method="POST" action="" enctype="multipart/form-data">
                        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                            <input id="upload" onchange="readURL(this);" class="form-control border-0" type="file"
                                name="file">
                            <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose
                                file</label>
                            <div class="input-group-append">
                                <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                                        class="fa fa-cloud-upload mr-2 text-muted"></i><small
                                        class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                            </div>
                        </div>
                        <!-- Uploaded image area-->
                        <p class="font-italic text-white text-center">After Pressing The Button You Can See The Palette Under The Image</p>
                        <div class="mt-4 text-center">
                            <button class="btn btn-secondary" type="submit">See Colour Palette</button>
                        </div>
                        <div class="image-area mt-4"><img id="imageResult" src="#" alt=""
                                class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                    </form>
                    {%for file in files%}
                    <img src="{{url_for('upload', filename=file)}}" class="mt-3" height="300", width="530">
                    {%endfor%}
                    {% if rgb_colors != None and hex_color != None %}
                    <table class="table mt-3 table-bordered" style="text-align: center;">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Color</th>
                                <th scope="col">RGB Code</th>
                                <th scope="col">HEX Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in range(10) %}
                            <tr>
                                <td style="background-color: rgb{{rgb_colors[x]}};"></td>
                                <td>rgb{{rgb_colors[x]}}</td> 
                                <td>#{{hex_colors[x]}}</td> 
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="/static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous">
    </script>
</body>

</html>